*{margin: 0;}

/* Hide scrollbar for Chrome, Safari and Opera */
.all::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .all {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #F3F3F3;
  }

  html, body {
    overflow: auto !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none !important;
}


header {
    width: 98.7vw;
    height: 3vh;
    margin-left: 0.6vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -0.04vw;
    font-size: 1.4vh;
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: #F3F3F3;
    text-align: center;
}

header p {
    margin-bottom: 0.7vh;
}

.mail {
    animation: blink 1s steps(1, end) infinite; /* Animation sans effet smooth */
}

/* Animation pour changer la couleur de noir à blanc */
@keyframes blink {
    0%, 100% {
        color: black;
    }
    50% {
        color: #F3F3F3;
    }
}


section{
    height: calc(var(--vh, 1vh) * 95.2); /* remplace 95.2vh par une version dynamique */
    width: 98.7vw;
    margin-left: 0.6vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
   column-gap: 1vh;
   margin-top: 3.5vh;
   background-color: #F3F3F3;
   }





a {
    text-decoration: none;
    color: inherit; /* Cela récupère la couleur du texte parent */
}



.archives{
    margin-right: 6vw;
    color: grey;
}


.works{
margin-left: 3vw;
color: black;
}

header a:hover{
 color: black;
}



.leftbox{
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 1vh;
    display: grid;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    letter-spacing: -0.04vw;
    font-size: 1.4vh;
    text-transform: uppercase;
    position: fixed;
    text-align-last: justify;
    height: 95.8vh;
    width: 24.3vw;
}


.justify{
    text-align: justify;
}

.texttop{
    text-align: justify;
    width: 24.3vw;
    display: flex
;
}






.textbot{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 24.3vw;
}


header a {
    margin-bottom: 0.7vh;
    }
    
span{
    color: #9E9E9E;
}


.rightbox{
    grid-column-start: 5;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vh;
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.07vw;
    font-size: 5.5vh;
    font-weight: 300;
    color: #F3F3F3;
    flex-direction: column;
    display: flex;
    position: relative;
}

.rightbox div p {
    margin-left: 0.6vw;
    z-index: 90;
    position: absolute;  
}





.mariotsaibox{
    height: 48vh;
    display: flex;
    
}



.mariotsaibox p{
    height: 48vh;
    display: flex;
    align-items: flex-end;
}





.img1{
    object-fit: cover;
    width: 100%;
}

.img2{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.img3{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.bottombox{
    height: 76.54vh;
    display: flex;
    gap: 1vh;
}


.bottombox div{
    display: flex;
        align-items: flex-end;
        width: 32.56vw;
        height: 100%;
}




/* Appliquer la couleur du texte aux paragraphes à l'intérieur des boîtes */
.mariotsaibox:hover p,
.chogiseokbox:hover p,
.oneshapebox:hover p,
.napoleonbox:hover p {
    color: inherit;
}


.mariotsaibox:hover img
{
    transform: scale(0.990); /* Réduit la taille à 95% */
    transition: transform 0.3s ease; 

  
}

.chogiseokbox:hover img,
.napoleonbox:hover img {
    transform: scale(0.995); /* Réduit la taille à 95% */
    transition: transform 0.3s ease;    
  
  }






.mariotsaibox img,
.chogiseokbox img,
.oneshapebox img,
.napoleonbox img {
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  transition: transform 0.3s ease;
  transform-origin: left bottom; /* Ancre l’image en bas à gauche */
 
}




/* Effet de fondu blanc pour le main */
main {
    opacity: 0; /* Commence invisible */
    animation: fadeIn 1s ease forwards; /* Animation de fondu */
    animation-delay: 0.5s; /* Délai d'une seconde après le header */
}

/* Animation de fondu */
@keyframes fadeIn {
    from {
        opacity: 0; /* Invisible */
    }
    to {
        opacity: 1; /* Complètement visible */
    }
}





.boxright {
    animation: slideIn 1s ease forwards; /* Applique l'animation à la div boxright */
}

@keyframes slideIn {
    from {
        transform: translateY(100px); /* Part de 100px en bas */
    }

    to {
        transform: translateY(0); /* Arrive à sa position initiale */
    }
}



/* Pour les écrans de moins de 768px (mobile) */
@media (max-width: 768px) {
  
    header {
      font-size: 1.2vh;
     
      
    }
  
    .works{
      margin-left: 30vw;
    }
  
  
    .archives{
      margin-right: 0;
    }
  
  
    
    section{
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: calc(var(--vh, 1vh) * 100);
    }
  
  
  

.leftbox{
    font-size: 1.2vh;
    grid-column-start: 1;
    grid-column-end: 12;
    position: fixed;
    display: grid;
    height: 31.8vh;
  }
  



  .texttop{
  width: 98.5vw;
  margin-top: -0.5vh;
  }
  
  
  
  .texttop p{
      width: 100%; 
      text-align: justify;
      letter-spacing: -0.6px;
  }
  
  
  .textbot {
    display: flex;    
    width: 99.9%;
  }     


  
  .textbot p{
      text-align: left;
      letter-spacing: -0.6px;
  }

  
  
    .rightbox{
      grid-column-start: 1;
      grid-column-end: 13;
      font-size: 4vh;
      position: fixed;
      margin-top: 32vh;
      gap: 0.5vh; }
  
      .rightbox div p {
        margin-left: 1.5vw
    }
  


.mariotsaibox{
      height: 21vh;
      display: flex;
      
  }
  
  
  
  .mariotsaibox p{
      display: flex;
      align-items: flex-end;
      height: 21vh;
  }
  


  
  
  .mariotsaibox img{
      display: flex;
          width: 98.8vw;
          height: 21vh;
  }           
  
  
    .bottombox{
      flex-direction: column;
      grid-column-start: 1;
      grid-column-end: 13;
      height: 40vh;
      gap: 0.5vh;
      margin-bottom: 100vh;
      
  }           
  
  
    .bottombox div{
      display: flex;
          width: 98.8vw;
  
  }
  
  
  .bottombox img {
      height: 21vh;
  }
  
  
  .mariotsaibox:hover img
{
    transform: scale(0.990); /* Réduit la taille à 95% */
    transition: transform 0.3s ease; 

  
}

.chogiseokbox:hover img,
.napoleonbox:hover img {
    transform: scale(0.990); /* Réduit la taille à 95% */
    transition: transform 0.3s ease;    
  
  }
  
  
  }